<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="loginForm" (submit)="loginUser($event)">
  <!-- Login form -->
  <ion-list>

    <ion-item>
      <ion-icon item-left name="mail"></ion-icon>
      <ion-input  type="email" formControlName='email' placeholder="email" required pattern="[^ @]*@[^ @]*"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon item-left name="lock"></ion-icon>
      <ion-input [minlength]="6" [maxlength]="10" type="password" formControlName='password' placeholder="Password"></ion-input>
    </ion-item>

  </ion-list>

  <div>
    <button  ion-button round block  type="submit" [disabled]="!loginForm.valid" >LOG IN</button>
  </div>
</form>

</ion-content>
