<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="logo-usd"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="settings"></ion-tab>
</ion-tabs>
