<!--
  Generated template for the ExpensetypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
      <ion-toolbar >
            <ion-segment [(ngModel)]="ExpenseTypesTabs" (click)='toggleSegment()'>
              <ion-segment-button value="Back">
                 <ion-icon name="ios-backspace"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="List">
                 <ion-icon name="list"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="Add">
                <ion-icon name="add"></ion-icon>
              </ion-segment-button>
            </ion-segment>
      </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content >
<div [ngSwitch]="ExpenseTypesTabs"> 
    <ion-list *ngSwitchCase="'List'">
          <ion-list-header>Expense Types</ion-list-header>
          <!-- repeat-->
          <ion-list  *ngFor="let data of expensesList">
            <ion-item (click)="removeExpenseType($event)">
              <h2>{{ data._expenseType }}</h2><ion-icon  ios="ios-trash-outline" md="md-trash" item-end></ion-icon>
            </ion-item>
          </ion-list>
     </ion-list>
     <!-- Add Expenses --> 
     <ion-list *ngSwitchCase="'Add'">
      <ion-list-header>Add Expense Type</ion-list-header>
      <form [formGroup]="postForm">    
        <ion-list>
            <ion-item>
              <ion-label>Exp Type</ion-label>
              <ion-input formControlName="expType" type="text"></ion-input>
            </ion-item>
        </ion-list>
          <div padding>
            <button ion-button color="primary" (click)="saveExpenseTypes($event)">ADD</button>
          </div>
      </form>
     </ion-list>
</div>
</ion-content>
