<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
  <ion-list-header>
    Settings
  </ion-list-header>
  <ion-item><ion-icon name="arrow-dropright" item-start></ion-icon>Edit Clinic Details<ion-icon name="create" item-end></ion-icon></ion-item>
  <ion-item><ion-icon name="arrow-dropright" item-start></ion-icon>Edit Personal Info<ion-icon name="create" item-end></ion-icon></ion-item>
  <ion-item><ion-icon name="arrow-dropright" item-start></ion-icon><ion-label (click)="showExpenseTypes()" >Add/Manage Expense Types</ion-label><ion-icon name="create" item-end></ion-icon></ion-item>
  <ion-item><ion-icon name="arrow-dropright" item-start></ion-icon><ion-label> Notifications</ion-label><ion-toggle  checked="false"></ion-toggle></ion-item>
  <ion-item><ion-icon name="arrow-dropright" item-start></ion-icon><ion-label>Add/Manage Users</ion-label><ion-icon name="create" item-end></ion-icon></ion-item>
  <ion-item><ion-icon name="arrow-dropright" item-start></ion-icon>
              <ion-label>Theme</ion-label>
              <ion-select #t (ionChange)="onChange(t.value)" [selectOptions]="selectOptions">
                <ion-option value="blue-theme" selected>Blue</ion-option>
                <ion-option value="green-theme">Green</ion-option>
              </ion-select>
            </ion-item>
</ion-list>

</ion-content>
