<!--
  Generated template for the ExpensesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
<ion-toolbar >
            <ion-segment [(ngModel)]="ExpensesTabs" (click)="toggleSegment()">
              <ion-segment-button value="List">
                 <ion-icon name="list"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="Reports">
                <ion-icon name="pie"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="Add">
                <ion-icon name="add"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
          </ion-navbar>
</ion-header>

<ion-content >
<div [ngSwitch]="ExpensesTabs"> 
    <ion-list *ngSwitchCase="'List'">
          <ion-list-header>Today</ion-list-header>
          <!-- repeat-->
          <ion-list  *ngFor="let data of expensesList">
            <ion-item>
              <ion-avatar item-start>
                <ion-icon name="attach"></ion-icon>
              </ion-avatar>
              <h2>{{ data._expenseType }}</h2>
              <p>{{ data._description }}</p>
              <h3>{{ data._creationDate }}</h3>
              <ion-note item-end>{{ data._amount }} Rs</ion-note>
            </ion-item>
          </ion-list>
     </ion-list>
     <!-- Adding Reports -->
     <ion-list *ngSwitchCase="'Reports'" >
          <ion-card>
            <ion-card-header>
              Income vs Expenses
            </ion-card-header>
            <ion-card-content>
              <canvas #lineCanvas ></canvas>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              Income vs Expenses
            </ion-card-header>
            <ion-card-content>
              <canvas id="barCanvas" #barCanvas></canvas>
            </ion-card-content>
          </ion-card>
      
          <ion-card>
            <ion-card-header>
              Expenses by Type
            </ion-card-header>
            <ion-card-content>
              <canvas #doughnutCanvas></canvas>
            </ion-card-content>
          </ion-card>
     </ion-list>
     <!-- Add Expenses --> 
     <ion-list *ngSwitchCase="'Add'">
      <ion-list-header>Add Expenses</ion-list-header>
      <form [formGroup]="postForm">    
      <ion-list>
          <ion-item>
            <ion-label>Exp Type</ion-label>
            <ion-input formControlName="expType" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Description</ion-label>
            <ion-input formControlName="description" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Amount</ion-label>
            <ion-input formControlName="amount" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Receipt</ion-label>
                      </ion-item>
        </ion-list>

        <div padding>
          <button ion-button color="primary" (click)="saveExpense($event)">ADD</button>
        </div>
      </form>
     </ion-list>
</div>
</ion-content>