 .ios,.md{
.green-theme{
   
    .toolbar-title{
        color:color($colors, light)!important ;
    }

    .toolbar-background, .button, .toggle-checked .toggle-inner , .toggle-checked .toggle-icon{
        background-color:color($colors, secondary) !important ;
    }
    
    .tab-button[aria-selected=true] .tab-button-text{
        color:color($colors, secondary) !important ;
        font-weight: bold ;
    }


    .bar-button{
        color: color($colors, light) !important ; 
    }

    .segment-button ion-icon{
       border-bottom-color : color($colors, light) !important ;
       color: color($colors, light) !important ;
    }

     .segment-button .segment-button.segment-activated{
       border-bottom-color : color($colors, secondary) !important ; 
    }

    .segment-ios .segment-button.segment-activated, .segment-md .segment-button.segment-activated{
         background-color:color($colors, darkGreen) !important ;
         
         
    }
    .segment-ios .segment-button, .segment-md .segment-button{
        background-color: color($colors, secondary) !important ; 
        border-color: color($colors, darkGreen) !important ;
         
    }

    .tab-button[aria-selected=true] .tab-button-icon{
        color: color($colors, secondary) !important ; 
        font-weight: bold ;
    }

    .checkbox-checked{
        border-color: color($colors, secondary) !important ;
        background-color: color($colors, secondary) !important ;
    }
     .monthview-selected[_ngcontent-c1]{
        background-color: color($colors, secondary) !important ;
    }

    .alert-radio-group [aria-checked=true] .alert-radio-label{
        color: color($colors, secondary) !important ;
    }
    .alert-radio-group [aria-checked=true] .alert-radio-inner{
        border-color: color($colors, secondary) !important ;
    }
     .alert-button-group .alert-button .button-inner{
        color: color($colors, secondary) !important ;
    }
}
   
}