 .ios,.md{
.blue-theme{
    .toolbar-title{
        color:color($colors, light)!important ;
    }

    .toolbar-background, .button, .toggle-checked .toggle-inner , .toggle-checked .toggle-icon{
        background-color:color($colors, primary) !important ;
    }
   

    .bar-button{
        color: color($colors, light) !important ; 
    }

    .segment-button ion-icon{
       border-bottom-color : color($colors, light) !important ;
       color: color($colors, light) !important ;
    }

    .segment-button  .segment-button.segment-activated{
       border-bottom-color : color($colors, primary) !important ; 
    }

     .segment-ios .segment-button.segment-activated,.segment-md .segment-button.segment-activated{
         background-color:color($colors, darkBlue) !important ;
         
    }
    .segment-ios .segment-button,.segment-md .segment-button{
        background-color: color($colors, primary) !important ; 
        border-color: color($colors, darkBlue) !important ;
         
    }


    .tab-button[aria-selected=true] .tab-button-text{
        color:color($colors, primary) !important ;
        font-weight: bold ;
    }

    .checkbox-checked{
        border-color: color($colors, primary) !important ;
        background-color: color($colors, primary) !important ;
    }

    .monthview-selected[_ngcontent-c1]{
        background-color: color($colors, primary) !important ;
    }

    .alert-radio-group [aria-checked=true] .alert-radio-label{
        color: color($colors, primary) !important ;
    }
    .alert-radio-group [aria-checked=true] .alert-radio-inner{
        border-color: color($colors, primary) !important ;
    }

    .alert-button-group .alert-button .button-inner{
        color: color($colors, primary) !important ;
    }
}
    
}