<!--
  Generated template for the PatientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar >
<ion-toolbar >
            <ion-segment [(ngModel)]="patientsTabs" (click)='toggleSegment()'>
              <ion-segment-button value="List">
                 <ion-icon name="list"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="Add">
                <ion-icon name="person-add"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
          </ion-navbar>
</ion-header>


<ion-content>
 
  <div [ngSwitch]="patientsTabs"> 
    <ion-list *ngSwitchCase="'List'">
      <ion-searchbar (ionInput)="getPatients($event)" placeholder="search"></ion-searchbar>
          <div *ngIf='!patientTemp'>
          <ion-list-header *ngIf='currentPatients.length > 0'>Suggestions</ion-list-header>
          <ion-list *ngFor="let patient of currentPatients" no-lines>
              <ion-item (click)="getPatientInfo(patient._id)">
                <ion-avatar item-start>
                  
                </ion-avatar>
                <h2>{{patient._name}}</h2>
                <p>{{patient._aadhar}}</p>
                
                <ion-note item-end>{{patient._dob}}</ion-note>
              </ion-item>
          </ion-list>
          </div>
          <div *ngIf='patientTemp'>
               <ion-segment [(ngModel)]="patientTempTab" (click)='togglePatientInfoSegment()'>
                    <ion-segment-button value="info">
                      <ion-icon name="person"></ion-icon>
                    </ion-segment-button>
                    <ion-segment-button value="history">
                      <ion-icon name="walk"></ion-icon>
                    </ion-segment-button>
              </ion-segment>
              <div [ngSwitch]="patientTempTab"> 
                  <ion-list *ngSwitchCase="'info'">
                        <ion-card>
                            
                            <ion-card-content>
                              <ion-card-title>
                                {{patientTemp._name}}
                                </ion-card-title>
                              <p>
                                {{patientTemp._aadhar}}
                              </p>
                              <p>
                                {{patientTemp._dob}}
                              </p>
                            </ion-card-content>
                          </ion-card>
                  </ion-list>
                  <ion-list *ngSwitchCase="'history'">
                     {{patientTemp._name}}
                  </ion-list>
              </div>
              
            </div>
      
      
     </ion-list>
     <ion-list *ngSwitchCase="'Add'">
        <form [formGroup]="patientForm" (submit)="addPatient($event)" padding>
          <!-- Login form -->
          <ion-list>

            <ion-item>
              <ion-label>Name</ion-label>
              <ion-input  type="text" formControlName='name' ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>AadharID</ion-label>
              <ion-input  type="text" formControlName='aadhar' ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select formControlName="gender">
                <ion-option value="M">Male</ion-option>
                <ion-option value="F">Female</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
            <ion-label>Date of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dob"></ion-datetime>
          </ion-item>
          
          <ion-item>
            <ion-label>Address</ion-label>
            <ion-textarea   type="text" formControlName="address" ></ion-textarea>
          </ion-item>
          
          </ion-list>
         

          <div>
            <button  ion-button round block  type="submit" [disabled]="!patientForm.valid" >Add</button>
           
          </div>
        </form>

     </ion-list>
</div>

</ion-content>
